@model CreateEmployeeDtos
@{
    var Departments = new SelectList(ViewData["departments"] as IEnumerable<Department>, "Id", "Name");
}
<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="Name" class="form-control" />
        <label asp-for="Name" class="col-form-label"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="Age" class="form-control" />
        <label asp-for="Age" class="col-form-label"></label>
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
</div>
<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="Email" class="form-control" />
        <label asp-for="Email" class="col-form-label"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
</div>
<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="Adress" class="form-control" />
        <label asp-for="Adress" class="col-form-label"></label>
        <span asp-validation-for="Adress" class="text-danger"></span>
    </div>
</div>
<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="Phone" class="form-control" />
        <label asp-for="Phone" class="col-form-label"></label>
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
</div>
<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="Salary" class="form-control" />
        <label asp-for="Salary" class="col-form-label"></label>
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>
</div>
<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="HiringDate" class="form-control" />
        <label asp-for="HiringDate" class="col-form-label"></label>
        <span asp-validation-for="HiringDate" class="text-danger"></span>
    </div>
</div>
<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="CreateAt" class="form-control" />
        <label asp-for="CreateAt" class="col-form-label"></label>
        <span asp-validation-for="CreateAt" class="text-danger"></span>
    </div>
</div>

<div class="col-md-3">    
        <label asp-for="DepartmentId" class="col-form-label"></label>
    <select asp-for="DepartmentId" asp-items="Departments" class="form-control">
        <option value="@null">-- Select Departmen -- </option>
    </select>
</div>

<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" asp-for="IsActive">
    <label class="form-check-label" asp-for="IsActive" for="inlineCheckbox1"></label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1">
    <label class="form-check-label" asp-for="IsDeleted" for="inlineCheckbox1"></label>
</div>

