@model UsersDtos

<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="UserName" class="form-control" />
        <label asp-for="UserName" class="col-form-label"></label>
    </div>
</div>
<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="FirstName" class="form-control" />
        <label asp-for="FirstName" class="col-form-label"></label>
    </div>
</div>
<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="LastName" class="form-control" />
        <label asp-for="LastName" class="col-form-label"></label>
    </div>
</div>
<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="Email" class="form-control" />
        <label asp-for="Email" class="col-form-label"></label>
    </div>
</div>











