@model RolesDtos

<div class="col-md-3">
    <div class="form-floating">
        <input asp-for="Name" class="form-control" />
        <label asp-for="Name" class="col-form-label"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>


