@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details Page</h1>

<br />
<br />

<form asp-action="Edit">
    <div class="my-3">
        <label asp-for="Code" class="col-form-label"></label>
        <input readonly asp-for="Code" class="form-control" />
    </div>
    <div class="my-3">
        <label asp-for="Name" class="col-form-label"></label>
        <input readonly asp-for="Name" class="form-control" />
    </div>
    <div class="my-3">
        <label asp-for="CreateAt" class="col-form-label"></label>
        <input readonly asp-for="CreateAt" class="form-control" />
    </div>
</form>

<div class="my-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" asp-controller="Department" class="btn btn-warning">Edit</a>
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</div>

