@model ForgetPasswordDto
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		<form asp-action="SendResetPassword">
			
			<input class="text" asp-for="Email" placeholder="Email" required="" aria-describedby="emailHelp">
			<span asp-validation-for="Email" class="text-danger"></span>
		
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>
